extends layout.pug
include popover.pug

block content
    .container.py-4
        h1.text-muted=standard.title
        h2=apprentice.name
            a.ml-2.text-decoration-none(
                style=`font-size:1.5rem;-webkit-filter:grayscale(${apprentice.mocks > 0 ? 0 : 100}%);opacity:${apprentice.mocks < 1 ? 0.2 : 1};text-shadow:1px 1px 2px ${apprentice.mocks < 1 ? "transparent" : "gray"};`
                data-toggle="tooltip"
                data-placement="top"
                title="Award One") &#x1F3C5;
            a.ml-1.mr-3.text-decoration-none( 
                style=`font-size:1.5rem;-webkit-filter:grayscale(${apprentice.mocks > 1 ? 0 : 100}%);opacity:${apprentice.mocks < 2 ? 0.2 : 1};text-shadow:1px 1px 2px ${apprentice.mocks < 2 ? "transparent" : "gray"};`
                data-toggle="tooltip"
                data-placement="top"
                title="Award Two") &#x1F396;
        include progress.pug
        .container
            each competency in competencies
                .row.mb-1
                    .col-4.p-2.border
                        button.btn(data-toggle="collapse" data-target=competency.tag class=`btn-${mapping[competency.tag].tags.length ? "info" : "danger"}` style=mapping[competency.tag].progress.percentageOfCompetency < 100 ? `background-image: linear-gradient(to right, transparent ${mapping[competency.tag].progress.percentageOfCompetency}%, #a9d1d7 ${mapping[competency.tag].progress.percentageOfCompetency}% ${100-mapping[competency.tag].progress.percentageOfCompetency}%);` : '')=competency.tag
                        .collapse.pt-2(id=competency.tag.substring(1))!=md.render(competency.desc)
                    .col-8.px-2.pb-2.pt-1.border.d-flex-wrap.align-items-center
                        each reference in mapping[competency.tag].tags
                            - const ownerbadge = reference.author.displayName === user.name ? 'success' : 'warning'
                            if reference.badges.length
                                each badge in reference.badges
                                    a.badge.m-1.p-1(href=`https://docs.google.com/document/d/${apprentice.fileId}/view?disco=${reference.id}` target='_Blank' class=`badge-${ownerbadge}` data-toggle="tooltip" data-placement="top" title=reference.quotedFileContent && reference.quotedFileContent.value || "no textual content")=badge
                            else
                                a.badge.m-1.p-1(href=`https://docs.google.com/document/d/${apprentice.fileId}/view?disco=${reference.id}` target='_Blank' class=`badge-${ownerbadge}` data-toggle="tooltip" data-placement="top" title=reference.quotedFileContent && reference.quotedFileContent.value || "no textual content")=competency.tag
    hr
    .container
        if user.name
            a.btn.btn-link(href=`/cohorts`) Back

